force-app/main/default/flows/autolaunched_customer_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_customer_and_set_input_value</name>
        <label>Notify customer and set input value</label>
        <locationX>467</locationX>
        <locationY>526</locationY>
        <actionName>Opportunity.Alert_to_notify_customer_about_sales_call</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>variabletostoreopportunityrecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Alert_to_notify_customer_about_sales_call</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>autolaunched customer flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>autolaunched customer flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_the_task_and_assign_to_owner_of_opportunity</name>
        <label>create the task and assign to owner of opportunity</label>
        <locationX>665</locationX>
        <locationY>478</locationY>
        <connector>
            <targetReference>Notify_customer_and_set_input_value</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>please call the customer because it is a brand new customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>variabletostoreopportunityrecord.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call the Customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>variabletostoreopportunityrecord.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>update_stage_on_opportunity</name>
        <label>update stage on opportunity</label>
        <locationX>627</locationX>
        <locationY>251</locationY>
        <connector>
            <targetReference>create_the_task_and_assign_to_owner_of_opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>variabletostoreopportunityrecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>update_stage_on_opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>variabletostoreopportunityrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
