force-app/main/default/flows/survey_form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <choices>
        <name>no</name>
        <choiceText>no</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>no</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>X4</name>
        <choiceText>4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>X5</name>
        <choiceText>5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>yes</name>
        <choiceText>yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>interested_or_not_interested</name>
        <label>interested or not interested</label>
        <locationX>613</locationX>
        <locationY>379</locationY>
        <defaultConnector>
            <targetReference>not_interested_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>not interested</defaultConnectorLabel>
        <rules>
            <name>interested_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>are_you_interested_in_taking_a_survey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>survey_questions_screen</targetReference>
            </connector>
            <label>interested outcome</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>survey form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>survey form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_survey_records</name>
        <label>create survey records</label>
        <locationX>230</locationX>
        <locationY>486</locationY>
        <inputAssignments>
            <field>Additional_Comments__c</field>
            <value>
                <elementReference>Any_additional_comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>Enter_Your_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating__c</field>
            <value>
                <elementReference>how_will_you_rate_our_web_site</elementReference>
            </value>
        </inputAssignments>
        <object>Survey__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>interested_in_survey_check</name>
        <label>interested in survey check</label>
        <locationX>621</locationX>
        <locationY>218</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>interested_or_not_interested</targetReference>
        </connector>
        <fields>
            <name>are_you_interested_in_taking_a_survey</name>
            <choiceReferences>yes</choiceReferences>
            <choiceReferences>no</choiceReferences>
            <dataType>String</dataType>
            <fieldText>are you interested in taking a survey ?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>not_interested_screen</name>
        <label>not interested screen</label>
        <locationX>915</locationX>
        <locationY>381</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>thank_you_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Thank you for your response. We completely understand that you are busy, but in the future if you can spare a few minutes to fill out this survey, it would be very helpful.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>survey_questions_screen</name>
        <label>survey questions screen</label>
        <locationX>337</locationX>
        <locationY>393</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>create_survey_records</targetReference>
        </connector>
        <fields>
            <name>Enter_Your_name</name>
            <dataType>String</dataType>
            <fieldText>Enter Your name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>how_will_you_rate_our_web_site</name>
            <choiceReferences>X5</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>how will you rate our web site (1-lowest   5-Highest)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Any_additional_comments</name>
            <fieldText>Any additional comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>interested_in_survey_check</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
